html, body, div {
	bottom: 0;
	padding: 0;
	margin: 0;
}

html, body {
	height: 100%;
}

.area {
	width: auto;
	margin: auto;
}

.area div {
	float: left;
	box-sizing: border-box;
	background: #9ee3ff;
	border: 2px solid #9ee3ff;
}

.area div:nth-child(2n) {
	background: #90b5ff;
	border: 2px solid #90b5ff;
}

.area div.cube {
	background: #3dbd05;
	border: 2px solid #fff;
	border-radius: 6px;
}

.area div.stair {
	background: #f6740f;
	border: 2px solid #fff;
	border-radius: 6px;
}

.area div.stair-reverse {
	background: #e60943;
	border: 2px solid #fff;
	border-radius: 6px;
}

.area div.stick {
	background: #ead40f;
	border: 2px solid #fff;
	border-radius: 6px;
}

.area div.pyramid {
	background: #9a5aea;
	border: 2px solid #fff;
	border-radius: 6px;
}

.area div.axe {
	background: #4b59ff;
	border: 2px solid #fff;
	border-radius: 6px;
}
.area div.axe-reverse {
	background: #c347a4;
	border: 2px solid #fff;
	border-radius: 6px;
}








